@font-face {
    font-family: 'delogs';
    src: url('https://raw.githubusercontent.com/Aionia-Epochi/website/main/delogs.ttf');
}

@font-face {
    font-family: 'vergilia';
    src: url('https://raw.githubusercontent.com/Aionia-Epochi/website/main/vergilia.ttf');
}

@font-face {
    font-family: 'balenyser';
    src: url('https://raw.githubusercontent.com/Aionia-Epochi/website/main/balenyser.otf');
}

body {
  font-family: 'serif';
  margin:0px;
  padding:0px;
  background-color:white;
  color:black;
  margin: 0;
  overflow: hidden; /* Prevent scrollbars */
}

.topnav {
  overflow: hidden;
  background-color: rgba(0,0,0,0);
  z-index:1;
  position:absolute;
  padding:0.5em 0.5em;
  top: 0;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 1em 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  
}

.topnav a.active {
  color: grey;
  padding:0em;
}

#head {
  margin:0px;
  padding-top:1em;
  background-size:cover;
  height:50vh;
  color:black;
  top, left, right:0px;
  z-index:0;
  display:block;
  width:100vw;
  font-family:'delogs';
}

#footer {
  background-color:white;
  color:black;
  padding:1em;
}

.warn {
  margin: 1em;
  border:2px red dashed;
  background-color:rgba(255,0,0,0.3);
  border-radius:20px;
  padding:1em;
  color:pink;
  font-weight:900;
  align-content:center;
}

.shadow
{
background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));
height:100%;
}

.tag {
background-color:white;
color:black;
border-radius:0.5em;
margin-left: 1em;
margin-right: 1em;
padding: 0.25em;
}

.subheading {
font-size: 1.5em;
font-family: balenyser;
}

.heading {
font-size: 1em;
font-family: balenyser;
}

#donation_methods td {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top:1vh;
    padding-bottom: 1vh;
}
#donation_methods td {
    max-width:30vw;
    justify-content: center;
}

#donation_methods td img {
    width: 25vw;
    border:2px solid white;
    border-radius: 20px;
}

.content {
  font-size: 1em;
  padding:2em 5em;
  z-index: 2;
  position:absolute;
  top: 0;
}

h2 {
  color:rgba(0,0,0,1);
  }

.invertable {
  display: inline-block;
  padding: 20px;
  margin: 50px;
  background: lightgray;
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none; /* Prevent interactions with canvas */
    z-index: -1;
    width: 100vw;
    height:100vh;
}

.image-blurred-edge {
  background-image: url('https://raw.githubusercontent.com/Aionia-Epochi/website/main/_resources/people/aakash.png');
  width:fit-content;
  /* you need to match the shadow color to your background or image border for the desired effect*/
  box-shadow: 0 0 8px 8px white inset;
}

.portrait {max-height:25vh;}